[Unit]
Description = FAsset Indexer Api
After = network-online.target
Wants = network-online.target
After=postgresql.service
Wants=postgresql.service

[Service]
Type = exec
ExecStart = /usr/bin/node dist/src/main
WorkingDirectory = /home/ubuntu/FAsset-Indexer/packages/fasset-indexer-api
Restart = always
RestartSec = 10
StandardOutput = journal
StandardError = journal
SyslogIdentifier = fasset-indexer-api
User = ubuntu
Group = ubuntu
Environment = LANG=C.UTF-8 SHELL=/bin/bash

[Install]
WantedBy = multi-user.target